@import "tailwindcss";
@plugin "daisyui";


/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: radial-gradient(ellipse at bottom, #ffffff, #c6c6c6, #ffffff);
    --foreground: #ededed;
  }
} */

/* body {
  background: radial-gradient(ellipse at bottom, #ffffff, #c6c6c6, #ffffff);
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
} */

input, textarea {
  background-color: #f6f6f6; /* สีขาว */
  color: #000000;            /* ตัวหนังสือสีดำ */
  border: 1px solid black;    /* ขอบสีเทาอ่อน */
  font-size: 16px;          /* ขนาดตัวหนังสือ */
}

table,th,td{
  color:#000000;
  background-color: #f6f6f6;
}