
services:
  web:
    build: .
    container_name: next_app
    ports:
      - "3000:3000"
    environment:
      - MONGODB_URI=mongodb://mongo:27017/numerdb
    depends_on:
      - mongo
  
  mongo:
    image: mongo:6
    container_name: mongo_db
    ports:
      - "27017:27017"
    volumes:
      - "mongo_data:/data/db"
  
volumes:
  mongo_data:
